/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* ---- reset ---- */
html {
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }
 
 body {
   margin: 0;
   padding: 0;
 }

 ul {
   margin: 0;
   padding: 0;
 }

 li {
   list-style: none;
 }

 section{
   margin-top: 70px;
   height: 90vh;
 }

 /* --- All ---*/
 .row{
   margin: 0 auto;
   padding: 0 15px;
 }

 .main-section {
   margin-top: 70px;
 }

 .display-none {
   display: none;
 }

/* --- Buttons --- */
.btn{
   display: block;
   text-decoration: none;
   border-radius: 8px;
   border: 0;
   padding: 15px 0;
   width: 92%;
   font-size: 1em;
   text-align: center;
   margin: 0 auto;
   
}

.btn-primary{
   font-weight: bold;
   color: #ffffff;
   background: #24c3b6; /* Old browsers */
   background: -moz-linear-gradient(left, #24c3b6 0%, #38d890 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #24c3b6 0%,#38d890 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #24c3b6 0%,#38d890 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c3b6', endColorstr='#38d890',GradientType=1 ); /* IE6-9 */
   -webkit-box-shadow: -1px 4px 11px -4px rgba(0,0,0,0.46);
   -moz-box-shadow: -1px 4px 11px -4px rgba(0,0,0,0.46);
   box-shadow: -1px 4px 11px -4px rgba(0,0,0,0.46);
}

.buttons-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
}

.buttons-bottom a{
  text-decoration: none;
}

.buttons-bottom.form p{
  color: #9B9B9B
}

.buttons-bottom p {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.buttons-bottom p a {
  font-weight: bold;
  text-decoration: none;
  color: #27C6B1;
}

/* --- Tab Buttons --- */
.tabs-container{
  display: flex;
  justify-content: space-between; 
  padding-top:20px;
}

.tabs-container .btn-tabs{
  font-size: 0.8em;
  border-radius: 50px;
  border: 0;
  padding: 12px 0;
  width: 47%;
  color: #8A9197;
  background-color: #E8E8E8;
}


.tabs-container .btn-tabs.active{
   color: #ffffff;
   background: #24c3b6; /* Old browsers */
   background: -moz-linear-gradient(left, #24c3b6 0%, #38d890 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, #24c3b6 0%,#38d890 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, #24c3b6 0%,#38d890 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c3b6', endColorstr='#38d890',GradientType=1 ); /* IE6-9 */
}

/* --- Menu toggle --- */

#menuToggle{
   display: block;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
   position: relative;
   top: 15px
 }
 
 #menuToggle input{
   display: block;
   width: 37px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span{
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #aeb2b6;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child{
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2){
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span{
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #24C3B6;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu{
   top: 75px;
   left: 5px;
   position: absolute;
   width: 300px;
   height: 100vh;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #ffffff;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   box-shadow: 0 0px 10px 2px #33333369;
 }
 
 #menu a{
   text-decoration: none;
   color: #8A9197;
 }
 
 #menu li{
   padding: 20px 0;
   font-size: 1.5em;
   font-weight: bold;
   color: #4A4A4A;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul{
   transform: none;
 }
 

/* --- Navbar --- */
.navbar {
  height: 70px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #eaebec;
  z-index: 1;
  display: flex;
  align-items: center;
  top: 0;
}

.navbar .navbar-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar .navbar-inner a{
  display: flex;
  align-items: center;
}

.navbar .navbar-inner p{
  font-weight: bold;
  text-transform: capitalize;
}

.navbar .navbar-inner .img-profile {
  height: 47px;
  width: 47px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid #e8e8e8;
}

.navbar-annon {
  height: 70px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #eaebec;
  z-index: 1;
  display: flex;
  align-items: center;
  top: 0;
}

.navbar-annon navbar-inner-annon {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* ---- Hero ---- */

.hero {
  background: url(./images/splash-img.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 100%;
}

/* ---- Forms ---- */
.form-section {
  display: flex;  
}


.form-section .user-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 68px; 
}

.form-section .user-form .container-fields {
  width: 100%;
}

.form-section .user-form .container-fields.auction {
  /* margin: 120px 0 80px 0; */
  margin: 180px 0 80px 0;
}

.form-section .user-form .container-fields .field {
  margin-bottom: 20px;
}

.form-section .user-form .container-fields .field input{
  background-color: #F8F8F8;
  color: #4e4e4e;
  border: 0;
  padding: 16px;
  border-radius: 50px;
  width: 100%;
  font-size: 0.9em;
}

.form-section .user-form .container-fields .field input::placeholder{
  color:#8B959E;
}

.form-section .user-form .container-fields .field label{
  display: block;
  margin: 12px;
  font-weight: bold;
}

/* ---- Auction Card ---- */
.card {
  /* height: 220px; */
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.53);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.18);
}

.card:last-child{
  margin-bottom: 90px; 
}

.card .img-container {
  position: relative;
  height: 140px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;  
}

.card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .img-container p {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 1.2em;
  margin: 15px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
  line-height: 1.6em;
}

.card .img-container .current-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  color: #3B0CE8;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 1.2em;
  margin: 15px;
}

.card .info-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.card .info-container .user-info {
  display: flex;
  align-items: center;
}

.card .info-container .user-info h4{
  text-transform: capitalize;
  margin: 0; 
}

.card .info-container .user-info .img-profile {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}

.card .info-container .user-info .img-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .info-container p {
  font-size: 0.8em; 
  color: #9FA5AA;
}


/* ---- Auction list ---- */

/* ---- Auction detail ---- */


/* --- Profile --- */

.profile-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 10px 0;
}

.profile-header .img-profile{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-header .profile-header-inner h2 {
  text-transform: capitalize;
  margin: 0 0 8px 0;
}
.profile-header .profile-header-inner p {
  margin: 0;
  color: #9FA5AA;
  font-size:  0.8em;
}

.profile-header .img-profile img{
  width: 100%;
}

/* --- Icons --- */

.icon-pencil{
  height: 25px;
  width: 25px;
  display: block;
  background: url('../src/images/edit.svg') no-repeat; 
}


